HELP.md
target/
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.hookProjectVO
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

/**/*.jar

log/*

/**/.DS_Store