<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <springProperty scope="context" name="log.path" source="log.path"/>

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                ${LOG_LEVEL_PATTERN:-%5p} %d %-40.40logger{39} %msg%n
            </pattern>
        </layout>
    </appender>

    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
        <!--            <level>WARN</level>-->
        <!--            <onMatch>DENY</onMatch>-->
        <!--            <onMismatch>ACCEPT</onMismatch>-->
        <!--        </filter>-->
        <encoder>
            <pattern>
                ${LOG_LEVEL_PATTERN:-%5p} %d %-40.40logger{39} %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
<!--            <level>warn</level>-->
        </filter>
        <encoder>
            <pattern>
                ${LOG_LEVEL_PATTERN:-%5p} %d %-40.40logger %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileErrorLog"/>
    </root>

    <!--    <logger name="org.apache" level="WARN"/>-->
    <!--    <logger name="httpclient" level="WARN"/>-->

</configuration>
